[submodule "Facturator.ai---Backend"]
	path = Facturator.ai---Backend
	url = https://github.com/Rolitoansu/Facturator.ai---Backend.git
[submodule "Facturator.ai-ML"]
	path = Facturator.ai-ML
	url = https://github.com/Rolitoansu/Facturator.ai-ML.git
[submodule "Facturator.ai-Frontend"]
	path = Facturator.ai-Frontend
	url = https://github.com/Rolitoansu/Facturator.ai-Frontend.git
